@use "../../styles/progressBarVariables" as *;
@use '../styles/partials/mixins' as *;

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.audioplayer {
  color: whitesmoke;
  background-color: #5d59ba;
  height: 10rem;
  width: 100%;
  border-radius: 10px;
  animation: 1.5s fadeIn ease;
  margin: 1rem 0 0 0;
  @include desktop {
    margin: 0 0 0 1rem;
  }
  &_top {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50%;
    position: relative;
    @include tablet{
    }
  }
  &_closeBtn{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 100%;
  }
  &_trackName {
    font-size: 2rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &_bottom {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.15rem 0;
  }
  &_buttonBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.25rem;
  }
  &_button {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  &_button2 {
    border-radius: 100%;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_trackDescript {
    &-box {
      background-color: inherit;
      border-radius: 10px;
      padding: 0.5rem;
      height: fit-content;
      font-size: 0.9rem;
      overflow-y: scroll;
      max-height: 5rem;
      margin: 0.5rem 0 0 0;
      @include desktop{
        margin: 2rem 1rem 0 1rem;
        overflow-y: auto;
        max-height: none;
      }
    }
    &-text {
      color: whitesmoke;
    }
  }
  &_progBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    &-currentTime {
      width: 3.5rem;
    }
    &-totalTime {
    }
  }
  &_progressBarBox {
    width: 13rem;
    margin-left: 0.5rem;
  }
  &_progressBar {
    appearance: none;
    background: $barColour;
    border-radius: 10px;
    border-color: #ad1d0f solid 1px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  &_progressBar::-webkit-slider-runnable-track {
    background: $barColour;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  &_progressBar::-moz-range-track {
    background: $barColour;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  &_progressBar::-moz-focus-outer {
    border: 0;
  }
  &_progressBar::before {
    content: "";
    height: 11px;
    width: $seekBeforeWidth;
    background-color: $seekBeforeColour;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  &_progressBar::-moz-range-progress {
    background-color: $seekBeforeColour;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
  }
  &_progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: $knob;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
  }
  &_progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }
  &_progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: $knob;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
}
