.editPage {
  &_main {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  &_container {
    width: 100%;
    margin-top: 5%;
  }
  &_navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  &_profilePic {
    width: 25em;
    height: 25em;
    background-color: white;
    border-radius: 10px;
    animation: fadeIn 3s ease;
  }
}
