@use '../styles/partials/mixins' as *;

.EPs {
  &_container {
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  &_innerContainer {
    background-color: rgba(50, 47, 133, 0.816)  ;

 
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    color: whitesmoke;
    border: 3.5px solid whitesmoke;
    @include mobile {
      width: 80%;
      height: 80%;
    }
    @include tablet {
      flex-direction: column;
      width: 60%;
      height: 80%;
    }

    @include desktop {
      flex-direction: row;
    }
    &-list{
      scrollbar-width: thin;
      overflow-y: auto;
      
       
        @include tablet {
          display: flex;
          overflow-x: scroll;
          min-width: 50%;
     
        }
        @include desktop{
          flex-direction: column;
          overflow-y: scroll;
          overflow-x: auto;
        }
    
    }
    &-list::-webkit-scrollbar{
        background-color: #5d59ba ;
        width: 0.25rem;
    }
    &-list::-webkit-scrollbar-thumb{
        background-color: whitesmoke ;
    }
  }
}

.singleEp {
  &_container {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
    @include tablet {
      width: 10rem;
    }
    @include desktop{
      width: 25.65rem;
      width: 100%;
    }
  }
  &_topBox{
    display: flex;
  }
  &_cover {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  &_title{
    display: none;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    font-size: 2rem;
    @include tablet {
      width: 26rem;
    }
    @include desktop {
      display: inline-block;
    }


  }
  &_rightside {
    &-trackBox {
      @include mobile {
        display: none;
      }
      @include desktop{
        border: 1px solid black;
        margin: 0 0 0.5rem 0.5rem;
        padding: 0.15rem;
        width: 17rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;

      }
    
    }
  }
  &_buttonBox{
    position: absolute;
    background-color: rgba(93, 89, 186, 0.3);
    left: 0%;
    top: 0%;
    height: 100%;
    border-radius: 0.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile{
      width: 8rem;
    }
    @include tablet{
      // width: 8rem;
    }
    @include desktop{
      width: 25.65rem;

    }
  }
  &_button {
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 100%;
  }
}

.singleEp_container .singleEp_buttonBox {
  visibility: hidden;
}

.singleEp_container:hover .singleEp_buttonBox{
  visibility: visible;
}

.layer1 {
  background-image: url("https://res.cloudinary.com/dl2liojkl/image/upload/v1680739655/layered-peaks-haikei_qjytxt.svg");
}

.flipped {
  transform: scaleY(-1);
}
