@use '../styles/partials/mixins' as *;

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.header_container {
  width: 100%;
  height: 11vh;
  position: sticky;
  top: 0;
  // background-color: #fff7e9;
  animation: fadeIn 3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header_title {

  @include mobile{
    font-size: 1.75rem;
    margin-top: 1rem;
    font-weight: 400;
  }
  @include tablet {
    font-size: 2.5rem;
    margin-top: 0rem;
  }

}

.header_left-box {
  @include mobile{
    width: 2rem;
  }

  @include tablet {
    width: 11rem;
  }
  @include desktop{
    width: 15%;
    height: 100%;
  }
}

.header_right-box {

  
  display: flex;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  @include mobile{
    width: 15rem;
    font-size: 0.85rem;
    height: 90%;
  }
  @include tablet {
    width: 11rem;
    margin-top: 1rem;
  }
  @include desktop{
    width: 15%;
    height: 100%;
  }
  &_icons {
    @include mobile{
      height: 100%;
      width: 100%;

    }
    @include tablet{
      height: 50%;
      width: 100%;
    }
 
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &_icon {
    width: 2.5rem;
    height: 2.25rem;
  }
  &_email {
 
    @include mobile{
      display: none;
    }
    @include tablet{
      display: block;
      font-size: 1rem;
    }
    height: 50%;
    font-family: sans-serif;
    color: rgb(22, 22, 22);
    width: 100%;
    text-align: end;
    &-mobile{
      font-size: 0.8rem;
      color: #504f4e;
      font-family: sans-serif;
      @include tablet{
        display: none;
      }
    }
  }
  
}

.insta_bg {
  background: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  @include mobile{
    width: 2rem;
    height: 2rem;
  }
  @include tablet {
    width: 2.25rem;
    height: 2.25rem;
  }

  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundCl_bg {
  width: 2.25rem;
  height: 2.25rem;
}

.bi-instagram {
  width: 2rem;
}
