@use '../../styles/typography' as *;

.homepage{

    &_intro{
        font-family: 'Orbitron', sans-serif;

    }
    &_mainPage{
        display: block;
        width: 100%;
        font-family: 'Orbitron', sans-serif;

    }
    &_mainPage-hidden{
        display: none;
    }
}
