@use "../../styles/typography" as *;

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeInPartial {
  0% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

.mainPage {
  &_container {
    width: 100%;
    height: fit-content;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &_container::-webkit-scrollbar {
    display: none;
  }

  &_parallax {
    animation: 2s fadeInPartial ease-in;
  }
  &_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.5rem;
    animation: 2s fadeIn ease-in;
  }
  &_profile span {
    width: 50%;

  }
  &_background {
    &-peak {
      width: 100%;
    }
  }
  &_background2 {
    &-peak {
      width: 100%;
      // z-index: -3;
      transform: rotate(180deg);
    }
      
  }
  &_layer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0 0;
  }
  &_stars {
    width: 100%;
  }
  &_stars2{
    width: 100%;
  }

}
.red {
  background-color: #ab408e;

}

.blue {
  background-color: #41305d;
  background-image: url(https://awv3node-homepage.surge.sh/build/assets/stars.svg);
}

.spacer{
  height: 100rem;
}