@use '../styles/partials/mixins' as *;
@use "../../styles/typography" as *;


.projects {
  &_container {
    display: flex;
    @include mobile {
      padding-left: 1rem;
    }
    @include tablet{
      justify-content: center;
    }
    background-image: linear-gradient(#ab408e, #41305d);
    
  }
  &_stars{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(https://awv3node-homepage.surge.sh/build/assets/stars.svg);
  }
  &_innerContainer{
    color: whitesmoke;
    width: 100%;
    @include tablet{
      width: 60%;
    }
  }
  &_title {
   @include mobile{

   }
  }
  &_project1 {
    &-container {
      margin: 2rem 0 0 0;
      display: flex !important;
      justify-content: space-between;
      padding-bottom: 4rem;
      width: 80% !important;
      &-link {
        width: 26rem;
        @include tablet{
          width: fit-content;
        }
      }
     
      &-pic {
        @include mobile{
          width: 10rem;
        }
        @include tablet{
          width: 16rem;
        }
        @include desktop{
          width: 24rem;
        }

      }
      &-titleBox {
      }
      &-title {
        text-align: center;
        font-family: "Rubik Glitch", cursive;
        @include mobile {
          font-size: 1.5rem;
        }
        @include tablet{
          font-size: 2rem;
        }
        
        @include desktop{
          font-size: 3rem;
        }
      }
      &-subtitle {
        font-size: 2rem;
        text-align: center;
        @include mobile{
          display: none;
        }
        @include tablet{
          font-size: 1.25rem;
          display: inline-block;
        }
        @include desktop{
          width: fit-content;
          font-size: 2rem;
        }
      }
      &-rightBox {
      
      @include tablet{
     
        height: 20rem;
        width: 20rem;
        margin: 0rem 0 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      @include desktop{
        width: 40%;
        margin: 5rem 0 0 0;
     }
        
      }
      &-credit {
        margin: 3rem 0;
        @include mobile {
          font-size: 1rem;
        }
        @include tablet{
          font-size: 1.25rem;
          text-align: center;
        }
        @include desktop{
          font-size: 2rem;
        }
      }
      &-descript {
        text-align: center;
        display: none;

        @include desktop{
          display: block;
          font-family: 'Kanit', sans-serif;
        }

      }
    }
  }
}

.hidden{
    opacity: 0%;
    filter: blur(5px);
    transition: all 1.25s;
}
.show{
    opacity: 100%;
    filter: blur(0px);
}