@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonBox {
  height: 100vh;
  width: 10vw;
  display: flex;

  &-container {
    width: 10rem;
    height: 15rem;
    display: flex;
    margin-top: 14rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px white solid;
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 0px 10px 10px 0px;
    animation: 2s fadeInAnimation ease-in;
  }

  &-button {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
  }
}
