@use '../styles/partials/mixins' as *;
@use "../../styles/typography" as *;

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.buttonBox {
  height: 100vh;
  display: flex;

  @include mobile{
    display: none;
  }
  @include tablet{
    display: inline-block;
  }

  &-container {
    width: 10rem;
    height: 15rem;
    display: flex;
    margin-top: 14rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px white solid;
    background-image: linear-gradient(#fcaa67, #ab408e, #41305d, #483785);
    border-radius: 0px 10px 10px 0px;
    animation: 2s fadeInAnimation ease-in;
    @include tablet{
      width: 8vw;
    }
  }
  &-container:hover{
    @include tablet{
      width: 10rem;
    }
  }

  &-button {
    margin: 1rem;
    color: black;
    border-radius: 0.625rem;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    cursor: pointer;
    @include tablet{
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: hidden;
      text-overflow: ellipsis;
      width: 3rem;
      height: 5rem;
    }
    @include desktop{
      width: 5rem;
      height: 5rem;
    }
  }
  &-button:hover {
    background-color: red;
  }
}
