@use '../../styles/progressBarVariables' as *;

.audioplayer{
   
    background-color: purple;
    height: 10rem;
    width: 23rem;
    padding: 0 1rem;
    border-radius: 10px;
    position: sticky;   
    top: 17%;
    &_trackName{
        height: 50%;
        display: flex;
        
        align-items: center;
        font-size: 2rem;
        overflow-x: hidden;
        overflow-y: hidden;

    }

    &_bottom{
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_button{
        border-radius: 100%;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    &_button2{
        border-radius: 100%;
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    &_trackDescript{
        &-box{
            background-color: purple;
            border-radius: 10px;
            margin-top: 0.5rem;
            padding: 0.5rem;
        }
        &-text{
            color: whitesmoke;
        }
    }
    &_progressBar{
        appearance: none;
        background: $barColour;
        border-radius: 10px;
        border-color: #AD1D0F solid 1px;
        position: relative;
        width: 100%;
        height: 11px;
        outline: none;
        margin: 0px;
    }
    &_progressBar::-webkit-slider-runnable-track{
        background: $barColour;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 11px;
        outline: none;
    }
    &_progressBar::-moz-range-track{
        background: $barColour;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 11px;
        outline: none;
    }
    &_progressBar::-moz-focus-outer{
        border:0;
    }
    &_progressBar::before{
        content: '';
        height: 11px;
        width: $seekBeforeWidth;
        background-color: $seekBeforeColour;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: absolute;
        top:0;
        left:0;
        z-index: 2;
        cursor: pointer
    }
    &_progressBar::-moz-range-progress{
        background-color: $seekBeforeColour;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 11px;
    }
    &_progressBar::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: none;
        background-color: $knob;
        cursor: pointer;
        position: relative;
        margin: -2px 0 0 0;
        z-index: 3;
        box-sizing: border-box;
    }
    &_progressBar:active::-webkit-slider-thumb{
        transform: scale(1.2);
    }
    &_progressBar::-moz-range-thumb{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        border: transparent;
        background-color: $knob;
        cursor: pointer;
        position: relative;
        z-index: 3;
        box-sizing: border-box;
    }
}

