@use "../../styles/progressBarVariables" as *;

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.audioplayer {
  color: whitesmoke;
  background-color: #5d59ba ;
  height: 10rem;
  width: 100%;
  margin-left: 1rem;

  border-radius: 10px;
  animation: 1.5s fadeIn ease;
  // position: absolute;
  // top: 20%;
  // left: 100%;
  // right: 5%;
  &_top {
  }

  &_trackName {
    height: 40%;
    display: flex;
    margin: 0 0 0 1rem;
    align-items: center;
    font-size: 2rem;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  &_bottom {
    height: 50%;
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0.15rem 0;
  }
  &_buttonBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.25rem;
    margin-left: 1rem;
  }
  &_button {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  &_button2 {
    border-radius: 100%;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_trackDescript {
    &-box {
      background-color: inherit;
      border-radius: 10px;
      margin: 0rem 1rem 0 1rem;
      padding: 0.5rem;
      height: fit-content;
      font-size: 0.9rem;
      // overflow-y: scroll;
    }
    &-text {
      color: whitesmoke;
    }
  }
  &_progBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }
  &_progressBarBox {
    width: 70%;
  }
  &_progressBar {
    appearance: none;
    background: $barColour;
    border-radius: 10px;
    border-color: #ad1d0f solid 1px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
    margin: 0px;
  }
  &_progressBar::-webkit-slider-runnable-track {
    background: $barColour;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  &_progressBar::-moz-range-track {
    background: $barColour;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  &_progressBar::-moz-focus-outer {
    border: 0;
  }
  &_progressBar::before {
    content: "";
    height: 11px;
    width: $seekBeforeWidth;
    background-color: $seekBeforeColour;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
  }
  &_progressBar::-moz-range-progress {
    background-color: $seekBeforeColour;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 11px;
  }
  &_progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: none;
    background-color: $knob;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
  }
  &_progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }
  &_progressBar::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: $knob;
    cursor: pointer;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
  }
}
