.EPs {
  &_container {
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_innerContainer {
    background-color: whitesmoke;
    width: 60%;
    height: 80%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
  }
}

.singleEp {
    &_container{
        margin: 1rem 0;
        display: flex;
        width: 25.65rem;
        position: relative;
    }
  &_cover {
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;

  }
  &_rightside{

    &-trackBox{
        cursor: pointer;
        border: 1px solid black;
        margin:0 0 0.5rem 0.5rem;
        padding: 0.15rem;
        width: 17rem;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
    }

  }
  &_buttonContainer{
    position: absolute;
    left: 0;
    top: 0%;
    opacity: 30%;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
