@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.header_container{
    width: 100%;
    height: 10%;
    position: sticky;
    top: 0;
    background-color:  #FAF9F6;
    animation: fadeIn 3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_title{
    font-size: 3rem;
}

.header_left-box{
    width: 15%;
    height: 100%;

}

.header_right-box{
    width: 15%;
    height: 100%;
    margin-top: 1.75rem;
    &_icons{
        height: 50%;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &_icon{
        

    width: 2rem;
    height: 2rem;

    }
    &_email{
        height: 50%;

    }
    
}
