@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.header_container {
  width: 100%;
  height: 13vh;
  position: sticky;
  top: 0;
  background-color: #FFF7E9;
  animation: fadeIn 3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header_title {
  font-size: 3rem;
}

.header_left-box {
  width: 15%;
  height: 100%;
}

.header_right-box {
  width: 15%;
  height: 100%;
  margin-top: 1.75rem;
  &_icons {
    height: 50%;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &_icon {
    width: 2.5rem;
    height: 2.25rem;
  }
  &_email {
    height: 50%;
    font-family: sans-serif;
  }
}

.insta_bg {
  background: linear-gradient(
    to top right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.soundCl_bg{
    width: 2.25rem;
    height: 2.25rem;
}

.bi-instagram {
  width: 2rem;
}
