@use '../../styles/typography' as *;

.homepage{

    &_intro{
        // position: relative;
        font-family: 'Orbitron', sans-serif;

    }
    &_landingpage{
        display: block;
        width: 100%;

    }
    &_landingpage-hidden{
        display: none;
    }
}
