@use "../../styles/typography" as *;

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.mainPage {
  &_container {
    width: 100%;
    height: fit-content;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  &_container::-webkit-scrollbar {
    display: none;
  }

//   &_parallax {
//     width: 80%;
//     // height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//   }
  &_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    font-size: 1.5rem;
  }
  &_profile span {
    width: 50%;
  }

  &_audio {
    // height: 100vh;
    // position:absolute;
    // right: 1%;
    // top: 14%;
    animation: 3s fadeIn ease;
    &_musicPlayer {
    }
    &_tracks {
    }
  }
  &_background {
    &-peak {
      width: 100%;
      // z-index: -3;
    }

    &-wave1 {
      // top: 100%;
      width: 100%;
    }
  }
  &_background2 {
  }
  &_layer2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_stars{
    width: 100%;
  }
}

// .spacer{
//     aspect-ratio: 960/540;
//     width: 100%;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     z-index: -2;
// }

// .layer1{
//     background-image: url('https://res.cloudinary.com/dl2liojkl/image/upload/v1680739655/layered-peaks-haikei_qjytxt.svg')
// }

.flipped {
  transform: rotateY(180deg);
}

.red{
    background-color: #ab408e;
}

.blue{
    background-color: #41305d;
}