@use '../../styles/typography' as *;


@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.mainPage{
    &_container{
        width: 100%;
        height: fit-content;
    
        background-color: #001253;
        // overflow-y: scroll;
        // z-index: -2;

        
    }
    &_container::-webkit-scrollbar {
        display: none;
      }
      
    &_parallax{
        width: 80%;
        // height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &_profile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        color: whitesmoke;
        font-size: 1.5rem;
    }
    &_profile span{
        width: 50%;
    }
   
   
    &_audio{
        // height: 100vh;
        // position:absolute;
        // right: 1%;
        // top: 14%;
        animation: 3s fadeIn ease;
        &_musicPlayer{

        }
        &_tracks{

        }
    }
}
.blank{
    height: 10rem;
}