@keyframes fadeIn {
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.mainPage{
    &_container{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%; 

        
    }
    &_profile{
        display: flex;
        // justify-content: space-between;
        width: 90%;
    }
    &_profilePic{
        width: 25em;
        height: 25em;
        background-color: white;
        border-radius: 10px;
        animation: 3s fadeIn ease;

    }
    &_bio_box{
        width: 25em;
        height: 25em;
        // background-color: white;
        color: #cfcdc6;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: 3s fadeIn ease;
        margin:2rem 1rem 0 0 ;
        &_tag{
            font-size: 3rem;
            height: 25%;
        }
        &_mainText{
            height: 75%;
         

        }
    }
    &_audio{
        height: 200vh;
        position:absolute;
        right: 1%;
        top: 30%;
        animation: 3s fadeIn ease;
        &_musicPlayer{

        }
        &_tracks{

        }
    }
}
.blank{
    height: 10rem;
}